* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
    color: #fff;
    
}

html,
body {
    height: 100%;
    width: 100%;
    background-color: #111;
}

/* PARENT FLEX CONTAINER */
.parent {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;   /* if you want 2nd row when screen small */
  gap: 30px;
  padding: 30px;
}


/* CARD STYLING */
.card {
    width: 300px;
    background-color: #333;
    color: white;
    border: 1px solid white;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
}

/* BUTTON */
.card button {
    padding: 10px 20px;
    background-color: white;
    color: black;
    border-radius: 5px;
    border: none;
}

/* TEXT */
.card p {
    margin: 20px 0;
}

/* IMAGE */
.card img {
    height: 200px;
    width: 200px;
    object-fit: cover;
    border-radius: 50%;
}
